<section class="w-screen max-w-screen-md px-5">
  @if (showLoadingMessage) {
  <div>
    <span class="loading loading-spinner primary-color"></span> Loading gift
    ideas...
  </div>
  } @if (!isLoading && giftIdeas.length > 0) {
  <div class="dropdown mb-3" [class.open]="isDropdownOpen">
    <div tabindex="0" role="button" class="btn m-1" (click)="toggleDropdown()">
      {{ selectedPerson || "Person name" }}
    </div>
    @if (isDropdownOpen){
    <ul
      tabindex="0"
      class="dropdown-content menu menu-sm bg-base-300 rounded-box z-[1] w-48 p-2 py-3 gap-3 shadow"
    >
      <li (click)="resetFilter()">All</li>
      @for (person of uniquePersonNames; track $index){
      <li (click)="selectPerson(person)">{{ person }}</li>
      }
    </ul>
    }
  </div>

  @for (idea of filteredGiftIdeas; track idea.id) {
  <app-gift-idea
    [idea]="idea"
    (editIdea)="onEditIdea($event)"
    (deleteIdea)="onDeleteIdea($event)"
  >
  </app-gift-idea>
  } } @else if (!isLoading && giftIdeas.length == 0) {
  <p>No gift ideas found for this user.</p>
  }
</section>
