<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">
        Welcome to<br /><span class="font-extrabold tracking-wide primary-color"
          >k<span class="text-accent">Do</span></span
        >!
      </h1>
      <p class="py-6">
        Easily organize your gift ideas with kDo! Create personalized lists for
        giving or receiving gifts, and never miss a special occasion again.
      </p>
      <button
        type="submit"
        aria-label="submit"
        class="btn btn-primary"
        [disabled]="loading"
        (click)="onSubmit()"
      >
        {{ loading ? "Loading" : "Sign in with Google" }}
      </button>
    </div>
  </div>
</div>
