<div class="navbar bg-base-100 mb-5">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" (click)="navigateToGiftList()">kDo</a>
  </div>
  @if(session){
    <div class="navbar-end gap-2">
      <div>
        <ul class="menu menu-horizontal px-1">
          <li><button class="btn btn-outline btn-accent" (click)="navigateToGiftForm()">Add</button></li>
        </ul>
      </div>
  
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] w-32 p-2 shadow"
        >
          <li><a (click)="navigateToAccount()">Profile</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  }
</div>
