<div class="flex flex-col">
  <h1 class="text-xl font-bold mb-5">Gift idea to give</h1>
  <form [formGroup]="gift_ideas_form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div>
      <label class="input input-bordered flex items-center gap-2" for="idea"
        >Gif
        <input id="idea" formControlName="idea" class="grow" type="text" />
      </label>
    </div>

    <div>
      <label for="link" class="input input-bordered flex items-center gap-2"
        >Link
        <input id="link" formControlName="link" class="grow" type="text" />
      </label>
    </div>

    <div>
      <label for="link" class="input input-bordered flex items-center gap-2"
        >Price
        <input id="price" formControlName="price" class="grow" type="number" />
      </label>
    </div>

    <div>
      <label
        for="person_name"
        class="input input-bordered flex items-center gap-2"
        >To offer to
        <input
          id="person_name"
          formControlName="person_name"
          class="grow"
          type="text"
        />
      </label>
    </div>

    <div>
      <label for="occasion" class="input input-bordered flex items-center gap-2"
        >Occasion
        <input
          id="occasion"
          formControlName="occasion"
          class="grow"
          type="text"
        />
      </label>
    </div>

    <div>
      <label for="">Was offered?</label>
      <div class="form-control" *ngFor="let option of offeredOptions">
        <label class="label cursor-pointer">
          <span class="label-text">{{ option.label }}</span>
          <input
            type="radio"
            name="is_offered"
            class="radio radio-primary"
            checked="checked"
            formControlName="is_offered"
            [value]="option.value"
          />
        </label>
      </div>
    </div>

    <div>
      <button type="submit" aria-label="submit" class="btn btn-outline btn-primary">Submit</button>
    </div>
  </form>
</div>
