<div class="flex flex-col w-screen max-w-screen-md">
  <h1 class="text-xl font-bold mb-6">Gift idea</h1>
  <form
    [formGroup]="gift_ideas_form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4"
  >
    <div>
      <label class="input input-bordered flex items-center gap-2" for="idea"
        ><span class="gift-label">Gift</span>
        <input id="idea" formControlName="idea" class="grow" type="text" />
      </label>
    </div>

    <div>
      <label for="link" class="input input-bordered flex items-center gap-2"
        ><span class="gift-label">Link</span>
        <input id="link" formControlName="link" class="grow" type="text" />
      </label>
    </div>

    <div>
      <label for="link" class="input input-bordered flex items-center gap-2"
        ><span class="gift-label">Price</span>
        <input id="price" formControlName="price" class="grow" type="number" />
      </label>
    </div>

    <div>
      <label
        for="person_name"
        class="input input-bordered flex items-center gap-2"
        ><span class="gift-label">To offer to</span>
        <input
          id="person_name"
          formControlName="person_name"
          class="grow"
          type="text"
        />
      </label>
    </div>

    <div>
      <label for="occasion" class="input input-bordered flex items-center gap-2"
        ><span class="gift-label">Occasion</span>
        <input
          id="occasion"
          formControlName="occasion"
          class="grow"
          type="text"
        />
      </label>
    </div>

    <div>
      <div class="form-control w-52">
        <label class="label cursor-pointer">
          <span class="label-text gift-label">Was offered?</span>
          <input
            type="checkbox"
            name="is_offered"
            formControlName="is_offered"
            class="toggle toggle-primary"
            checked="checked"
            (change)="onToggleOffered($event)"
          />
        </label>
      </div>
    </div>

    @if (isOffered){
    <div>
      <label
        for="offered_date"
        class="input input-bordered flex items-center gap-2"
        ><span class="gift-label">Date</span>
        <input
          id="offered_date"
          formControlName="offered_date"
          class="grow"
          type="date"
        />
      </label>
    </div>
    <div>
      <label
        for="offered_from"
        class="input input-bordered flex items-center gap-2"
        ><span class="gift-label">From</span>
        <input
          id="offered_from"
          formControlName="offered_from"
          class="grow"
          type="text"
        />
      </label>
    </div>
    }

    <div>
      <button
        type="submit"
        aria-label="submit"
        class="btn btn-outline btn-primary mt-5"
      >
        Submit
      </button>
    </div>
  </form>
</div>
