<div class="flex flex-col w-screen max-w-screen-md">
  <h1 class="text-xl font-bold mb-5">Profile</h1>

  <form
    [formGroup]="updateProfileForm"
    (ngSubmit)="updateProfile()"
    class="flex flex-col gap-4"
  >
    <app-avatar [avatarUrl]="this.avatarUrl" (upload)="updateAvatar($event)">
    </app-avatar>

    <label class="input input-bordered flex items-center gap-2">
      <div class="label">
        <span for="email" class="label-text">Email</span>
      </div>
      <input
        id="email"
        type="text"
        [value]="session.user.email"
        disabled
      />
    </label>

    <label class="input input-bordered flex items-center gap-2">
      <div class="label">
        <span for="username" class="label-text">User name</span>
      </div>
      <input
        id="username"
        type="text"
        formControlName="username"
      />
    </label>

    <div>
      <button
        type="submit"
        class="btn btn-outline btn-primary mt-5"
        [disabled]="loading"
      >
        {{ loading ? "Loading ..." : "Update" }}
      </button>
    </div>
  </form>
</div>
